/* Reset some default browser styles */
html {
    background-color: #16161a;
    font-family: Arial, Helvetica, sans-serif;
}
body, h1, h2, p,a{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
a {
  color:#94a1b2;
}
header{
    padding: 3rem;
    display: flex;
    color:#fffffe;
    justify-content: space-between;
    align-items: center;
}

.Part1 {
    color: #94a1b2;
}


.fade-in {
    opacity: 0;
    animation: fade-in-animation 1.5s ease-in-out forwards;
  }
  
  @keyframes fade-in-animation {
    from {
      opacity: 0;
      transform: translateX(-10px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .arrow {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #fffffe;
  }

  .ligne-blanche {
    border: 0.25rem solid #fffffe; /* Crée un trait blanc de 1 pixel de large en dessous de l'élément */
    border-radius: 5px;
    height: 1350px;
}

.block {
  background-color: #94a1b2;
  width: 500px;
}